<div class="p-2 bg-danger m-0">
    <a href="/" class="text-decoration-none">
        <h1 id="header-text" class="card text-center bg-danger text-white p-3 m-0 shadow">OpenWeather's Weather Checker</h1>
    </a>
</div>