<nav class="navbar navbar-expand-lg bg-body-tertiary shadow ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <i class="card bg-white p-2 bi bi-cloud-sun shadow" style="font-size: 2rem; color: orangered;"></i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse card shadow" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="m-1 nav-link 
                        <%if (currentPage == 'home') {%>
                            active
                        <%}%>" 
                        aria-current="page" href="/">Home</a>

                    <a class="m-1 nav-link
                        <%if (currentPage == 'display') {%>
                            active
                        <%}%>" 
                        aria-current="page" href="/seeQueries">Queries</a>

                    <a class="m-1 nav-link
                        <%if (currentPage == 'coordinates') {%>
                            active
                        <%}%>" 
                        aria-current="page" href="/getCoordinates">Coordinates</a>
                </div>
            </div>
        </div>
    </nav>