<div class="row justify-content-center m-2">
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Welcome to the weather checker!</h5>
                    <p class="card-text">This website utilizes OpenWeather's OpenWeatherMap API to get real-time weather
                                            from a requested location. Google's Geocode API translates your inputted address
                                            into the coordinates OpenWeather requires. The list of states and territories is
                                            generated from the state-us node package.
                    </p>
                    <p class="card-text"><span class="fw-bold">Home page:</span>
                        Enter your address to check the weather via the OpenWeather API.
                    </p>
                    <p class="card-text"><span class="fw-bold">Queries page:</span>
                        Check previously entered queries, labeled by given addresses and the timestamp.
                    </p>
                </div>
            </div>
        </div>